:root {
  --header-color: #1ad83b;
}

body {
  margin: 0;
  padding: 0;
}

.main {
  margin-top: 80px;
}

.about-info {
  font-size: 17px;
  text-align: justify;
  line-height: 1.8;
}

.title-header {
  font-size: 28px;
  margin: 10px 50px;
  color: var(--header-color);
  font-weight: bold;
}

@media screen and (max-width: 1200px) {
  .title-header {
    margin: 5px 55px;
    font-size: 25px;
  }
}

@media screen and (max-width: 960px) {
  .title-header {
    margin: 5px 35px;
  }

  .about-info {
    font-size: 19px;
  }
}

@media screen and (max-width: 760px) {
  .title-header {
    margin: 5px 30px;
  }
}

@media screen and (max-width: 680px) {
  .title-header {
    margin: 5px 25px;
  }
}

@media screen and (max-width: 480px) {
  .title-header {
    margin: 5px 20px;
  }

  .about-info {
    font-size: 20px;
  }

  .prog,
  .frameworks,
  .tools,
  .about-me,
  .experience,
  .education {
    font-size: 28px;
  }
}
