:root {
  --header-color: #23a;
}

body {
  margin: 0;
  padding: 0;
}

.main {
  margin-top: 80px;
}

.role {
  margin: 0;
  font-size: 40px;
  color: gray;
}

.title-header {
  font-size: 30px;
  margin: 10px 50px;
  color: var(--header-color);
  font-weight: bold;
}

@media screen and (max-width: 960px) {
  .name {
    font-size: 45px;
  }

  .role {
    font-size: 20px;
  }

  .title-header {
    margin: 5px 25px;
    font-size: 25px;
    font-weight: bold;
  }
}
