body {
  background-color: rgb(255,255, 0, 0.2)
}

.main-page {
  display: grid;
  align-items: center;
  justify-items: center;
  margin-top: -50px;
}

.name {
  font-size: 100px;
  margin-top: 100px;
  color: gray;
  margin-bottom: 0;
}

.role {
  margin: 0;
  font-size: 40px;
  color: blueviolet;
}

@media (max-width: 700px) {
  .name {
    font-size: 40px;
  }

  .role {
    font-size: 18px;
  }
}
