.nav-links {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0; /* must set to top */
  width: 100%;
  background: white;
  box-shadow: 0 5px 20px -10px #000;
  min-height: 50px;
}

.user-name {
  text-decoration: none;
  padding-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: 500;
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  padding: 8px;
  text-decoration: none;
  color: #333;
}

.linkedin {
  padding-right: 30px;
}

.link:hover {
  color: dimgrey;
}

@media screen and (max-width: 760px) {
  .user-name {
    padding-left: 40px;
    font-size: 24px;
  }
}

@media screen and (max-width: 480px) {
  .user-name {
    font-weight: 600;
  }

  .link {
    padding: 10px;
  }

  .linkedin {
    padding-right: 20px;
  }

  .twitter {
    display: none;
  }
}
